


.content .searchresult {
  //border: solid black 1px;
}

.content .searchresult th {
  background: navy;
  color: white;
  font-weight: bold;
  border-bottom: solid black 1px;
}
.content .searchresult th a {
  color: white;
  font-weight: bold;
}
.content .searchresult td {
  border-top: solid black 1px;
}

.content a.selected {
  font-weight: bold;
  color: #880000;

  padding-left: 3px;
  padding-right: 3px;
  border: solid 1px #880000;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
}

