/*
	Styles used for various forms in the cart.
*/

.content .order {
	padding: 0px;
	margin: 0px;
}

.content .order form {
	margin: 0px;
}

.content .order input {
	font-size: 9pt;
}

.content .order_buttons {
	padding: 0px;
	margin: 10px;
	text-align: center;
}

.content .order_shirt li {
	list-style-type: none; 
}

.content .personal_information {
	border: solid navy 2px;
	padding: 10px;
	background-color: #FFFFE0;
}


.fa-button, a.fa-button, button.fa-button {
	padding: 6px 4px;
  	border-radius: 10px;
  	margin-right: 4px;
	/*border: 2px #c30000; */
  	/*background: #007BA7;*/
  	/*background: #e0e0e0;*/

  	/*background-image: linear-gradient(to right top, #fdbe25, #fec928, #ffd42b, #ffdf31, #ffea37); */ /* yellow */
  	background-image: linear-gradient(to top, #880000, #c30000);

	font-size: 14px;
	color: #fff0a0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

  	text-align: center;
  	text-decoration: none;
}
/*.fa-button i {
	color: #007BA7;
}
*/

.eventStatusMarker {
	padding: 2px 4px;
  	/*border-radius: 3px;*/

  	/*background-image: linear-gradient(to right top, #fdbe25, #fec928, #ffd42b, #ffdf31, #ffea37); */ /* yellow */
  	background-image: linear-gradient(to top, #555555, #333333);

	font-size: 14px;
	color: #fff0a0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

  	text-align: center;
  	text-decoration: none;

}
