#menu {
	font-size: 8pt;
	float: right;
	width: 180px;
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background: #e0e8ff;
	border: solid gray 1px;
}

#menu ul {padding-left: 0px; margin: 0px;} /* 2nd half is IE fix */
#menu ul ul {padding-left: 15px;}
#menu li {list-style-type: none; padding-bottom: 10px;}
#menu li li {padding-bottom: 0px;}
#menu form {margin: 0px;} /* IE fix */

#wordpress {color: #111111;}

#wordpress h1 a {
  color: navy;
  text-decoration: none;
  font-weight: bold;
}


#wordpress .storytitle {
  background-color: #DDDDDD;
  border-top: 1px dotted #999999;
  border-bottom: 1px dotted #999999;
  padding-left: 3px;
}
#wordpress .storytitle a
{
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
}

#wordpress .meta {
  color: gray;
  font-size: smaller;
}
#wordpress .meta a {
  color: #666699;
}

#wordpress .storycontent {
}

#wordpress .feedback {
  text-align: right;
}

